body {
  background: #f5f7fb;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.padding {
  padding: 10px 20px;
}

.app {
  width: 800px;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  font-family: Public Sans, sans-serif;
  margin: 0 auto;
}
.content {
  position: relative;
}
.title {
  border-bottom: 1px solid #f0eff5;
}

.title-row {
  display: flex;
  justify-content: space-between;
  color:  #495057;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.title-wrapper {
  flex: 0 0 auto;
}

.title-btn-wrapper {

}

.title-button {
  border: 0;
  background: #fff;
  cursor: pointer;
  color: #495057;
}

.content {
  flex: 1;
  overflow: hidden scroll;
}

.footer {
  border-top: 1px solid #f0eff5;
}

.footer-row {
  display: flex;
}

.send-form__submit-btn {
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  background-color: #7269ef;
  border: 1px solid #7269ef;
  padding:  8px 15px;
}

.send-inputs-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.send-form-label {
  margin-right: 10px;
  cursor: pointer;
  color: #495057;
}

.text-input {
  width: 100%;
  height: 100%;
}
.send-message-control {
  background-color: #e6ebf5;
  border: 1px solid #e6ebf5;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 400;
  line-height: 1.5;
  color:  #495057;
  width: 100%;
  height: 100%;
}

.send-audio-control,
.send-video-control,
.send-picture-control{
  display: none;
  margin-right: 4px;
}

.pinned-message {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #f0eff5;
}

.pinned-content {
  font-size: 14px;
  flex: 1;
  overflow: hidden;
}

.pinned-title {
  font-weight: 600;
  margin-bottom: 6px;
  color: #7269ef;
}

.pinned-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pinned-close {
  margin-left: 20px;
  cursor: pointer;
}


.message-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.message-wrapper.user {
  justify-content: flex-end;
}

.message-wrapper.user .message {
  background: #f5f7fb;;
  color: #212529;
  border-radius: 8px 8px 0 8px;
}

.message-wrapper.bot .message {
  border-radius: 8px 8px 8px 0;
}

.message {
  max-width: 66%;
  background: #7269ef;
  color: #fff;
  padding: 8px;
  position: relative;
}

.message-wrapper.bot .message:before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-left-color: #7269ef;
  border-top-color: #7269ef;
  left: 0;
  bottom: -10px;
}

.message-wrapper.user .message:before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #f5f7fb;
  border-right-color: #f5f7fb;
  right: 0;
  bottom: -10px;
}
.message-footer {
  display: flex;
  font-size: 10px;
  margin-top: 8px;
  justify-content: flex-end;
}

.message_link-icon {
  margin-right: 8px;
  text-decoration: none;
  color: rgba(255,255,255,.5);
}

.message-date {
  color: rgba(255,255,255,.5);
}

.message-wrapper.user .message-date,
.message-wrapper.user .message-pin,
.message-wrapper.user .message-favourites,
.message-wrapper.user .message-download
{
  color:#7a7f9a;
}

.message-image {
  max-width: 300px;
  max-height: 250px;
}

.hidden {
  display: none;
}

.search-wrapper {
  border-bottom: 1px solid #f0eff5;
}

.search-row {
  display: flex;
}
.search-input-wrapper {
  display: flex;
  flex: 1;
  margin-right: 8px;
  background-color: #e6ebf5;
  border: 1px solid #e6ebf5;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 400;
  color: #495057;
}

.search-input-control {
  width: 100%;
  border: 0;
  line-height: 1.5;
  background-color: #e6ebf5;
}
.search-btn-wrapper {

}
.search-input-control:focus,
.send-message-control:focus {
  outline: none;
}

.input-clear {
  border: 0;
  background: #e6ebf5;
  cursor: pointer;
}
.search-buttons {
  cursor: pointer;
  border-radius: 8px;
  color: #495057;
  background-color: #f5f7fb;;
  border: 1px solid #f5f7fb;
  padding: 5px 10px;
  height: 100%;
}

.search-btn {
  margin-right: 4px;
}

.no-message-found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
